:root {
  --animate-duration: 1s;
  --animate-delay: 100ms;
  --animate-repeat: 1;
  --shimmer-animation: linear 1.5s placeHolderShimmer infinite;
  --shimmer-background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  --shimmer-background-size: 3500px 100%;
}

.mh-animation--animated {
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.mh-animation--animated.mh-animation--infinite {
  animation-iteration-count: infinite;
}

.mh-animation--animated.mh-animation--delay-1x {
  animation-delay: 100ms;
  animation-delay: var(--animate-delay);
}

.mh-animation--animated.mh-animation--delay-2x {
  animation-delay: calc(100ms * 2);
  animation-delay: calc(var(--animate-delay) * 2);
}

.mh-animation--animated.mh-animation--delay-3x {
  animation-delay: calc(100ms * 3);
  animation-delay: calc(var(--animate-delay) * 3);
}

.mh-animation--animated.mh-animation--delay-4x {
  animation-delay: calc(100ms * 4);
  animation-delay: calc(var(--animate-delay) * 4);
}

.mh-animation--animated.mh-animation--delay-5x {
  animation-delay: calc(100ms * 5);
  animation-delay: calc(var(--animate-delay) * 5);
}

.mh-animation--animated.mh-animation--faster {
  animation-duration: calc(100ms / 2);
  animation-duration: calc(var(--animate-duration) / 2);
}

.mh-animation--animated.mh-animation--fast {
  animation-duration: calc(100ms * 0.8);
  animation-duration: calc(var(--animate-duration) * 0.8);
}

.mh-animation--animated.mh-animation--slow {
  animation-duration: calc(1s * 2);
  animation-duration: calc(var(--animate-duration) * 2);
}

.mh-animation--animated.mh-animation--slower {
  animation-duration: calc(1s * 3);
  animation-duration: calc(var(--animate-duration) * 3);
}

@media print,
(prefers-reduced-motion: reduce) {
  .mh-animation--animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }

  .mh-animation--animated[class*='Out'] {
    opacity: 0;
  }
}

/* Attention seekers  */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.mh-animation--pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.mh-animation--headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

/* Back entrances */
.js [data-mh-animation*="backIn"] {
  animation-timing-function: ease-in-out;
  opacity: 0.7;
}

@keyframes backInDown {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.mh-animation--backInDown {
  animation-name: backInDown;
}

@keyframes backInUp {
  0% {
    transform: translateY(1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.mh-animation--backInUp {
  animation-name: backInUp;
}

/* Fading entrances  */
.js [data-mh-animation*="fade"] {
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mh-animation--fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, max(-50%, -2rem), 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mh-animation--fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mh-animation--fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mh-animation--fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, max(50%, 2rem), 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mh-animation--fadeInUp {
  animation-name: fadeInUp;
}

/* zoom fade */

@keyframes zoomFade {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.js [data-mh-animation="mh-animation--zoomFade"] {
  opacity: 0;
  position: relative;
}

.mh-animation--zoomFade {
  animation-name: zoomFade;
  animation-duration: 1.5s;
  animation-duration: calc(var(--animate-duration) * 1.5);
  animation-fill-mode: both;
}

/* swiper */

@keyframes swiper {
  from {
    opacity: 1;
    transform: translateX(-100%);
  }

  50% {
    opacity: 1;
    transform: translateX(-100%) rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0%) rotateY(90deg);
  }
}

[data-mh-animation="mh-animation--swiper"] {
  display: none;
  z-index: 1;
}

.js [data-mh-animation="mh-animation--swiper"] {
  animation-timing-function: ease-in-out;
  background-color: currentColor;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  /* transform: translateX(-100%); */
  transform-origin: right top;
  width: 100%;
  will-change: opacity, transform;
}

.mh-animation--swiper {
  animation-name: swiper;
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

/* loading shimmer */

@keyframes placeHolderShimmer {
  0% {
    background-position: -1500px 0;
  }
  50% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
