{%- import './partials/_variables.css' -%}
{%- import './partials/_macros.css' -%}




/* ==========================================================================


1. BASE STYLES


========================================================================== */


{% include './partials/_typography.css' %}
{% include './partials/_utils.css' %}




/* ==========================================================================


2. COS STRUCTURE


========================================================================== */




{% include './partials/_structure.css' %}
