<!--
    templateType: page
    label: Drag and Drop
    isAvailableForNewContent: true
-->


{% extends '../layouts/base.html' %}


{% block body %} 

  {% module "module_12345"  path="../../modules/rich-text.module" label="Rich Text (Simple)" html="<h2>Testing from template</h2>" %}
  {% module "module_2345" path="../../modules/rich-text.module" label="Rich Text (Simple)" html="<h2>Testing from template</h2>" %}
    
  {% module "module_23443" path="../../modules/testing.module" lable="Testing Module" %}
    
{% endblock body %}