<!--
    templateType: page
    label: Page template
    isAvailableForNewContent: false
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    {{ standard_header_includes }}

    {{ require_css(get_asset_url('../../css/styles.css')) }}
    {{ require_js(get_asset_url('../../js/mh-animations.js'), 'footer') }}

        {# theme asset files #}
    {%- if is_in_editor -%}
      {# prevents reload in theme editor #}
      {{ require_css(get_asset_url('../../css/css-variables.css')) }}
    {%- else -%}
      {# load inline everywhere else #}
      {%- require_css 'css_vars' -%}
        <style>
          {% include '../../css/css-variables.css' %}
        </style>
      {%- end_require_css -%}
    {%- endif -%}
    
  </head>
  <body>

  <main class="main-content">
    {% block body %}
    {% endblock body %}
  </main>

    {{ standard_footer_includes }}
  </body>
</html>
