{% unless settings %}{% import './_variables.css' %}{% endunless %}
{% unless macros %}{% import './_macros.css' %}{% endunless %}


.relative {
  position: relative;
}


{# display rules #}

.hide,
.no-js .hide--no-js {
  display: none !important;
}


@media {{ mq_down(tablet) }} {
  .hide-phone,
  .hide--mobile {
    display: none;
  }
}

@media {{ mq( tablet, desktop ) }} {
  .hide--tablet {
    display: none !important
  }
}

@media {{ mq_up( desktop )}} {
  .hide--desktop {
    display: none !important
  }
}